---
layout: page
permalink: /lectures/windows_8_camp
---

<center>
    <h1>Windows 8 Camp</h1>

    <a href="img/1.jpg"> <img src="img/1.jpg"  width="25%" height="25%" ></a>
    <a href="img/2.jpg"> <img src="img/2.jpg"  width="25%" height="25%" ></a>
    <a href="img/3.jpg"> <img src="img/3.jpg"  width="25%" height="25%" ></a>
    <a href="img/4.jpg"> <img src="img/4.jpg"  width="25%" height="25%" ></a>
    <a href="img/5.jpg"> <img src="img/5.jpg"  width="25%" height="25%" ></a>
    <a href="img/6.jpg"> <img src="img/6.jpg"  width="25%" height="25%" ></a>
    <a href="img/7.jpg"> <img src="img/7.jpg"  width="25%" height="25%" ></a>
    <a href="img/9.jpg"> <img src="img/9.jpg"  width="25%" height="25%" ></a>
    <a href="img/10.jpg"><img src="img/10.jpg" width="25%" height="25%" ></a>
    <a href="img/11.jpg"><img src="img/11.jpg" width="25%" height="25%" ></a>
    <a href="img/12.jpg"><img src="img/12.jpg" width="25%" height="25%" ></a>
    <a href="img/13.jpg"><img src="img/13.jpg" width="25%" height="25%" ></a>
    <a href="img/14.jpg"><img src="img/14.jpg" width="25%" height="25%" ></a>
    <a href="img/15.jpg"><img src="img/15.jpg" width="25%" height="25%" ></a>
    <a href="img/16.jpg"><img src="img/16.jpg" width="25%" height="25%" ></a>
    <a href="img/17.jpg"><img src="img/17.jpg" width="25%" height="25%" ></a>
    <a href="img/18.jpg"><img src="img/18.jpg" width="25%" height="25%" ></a>
    <a href="img/19.jpg"><img src="img/19.jpg" width="25%" height="25%" ></a>
    <a href="img/20.jpg"><img src="img/20.jpg" width="25%" height="25%" ></a>
    <a href="img/21.jpg"><img src="img/21.jpg" width="25%" height="25%" ></a>
    <a href="img/22.jpg"><img src="img/22.jpg" width="25%" height="25%" ></a>
    <a href="img/23.jpg"><img src="img/23.jpg" width="25%" height="25%" ></a>
    <a href="img/24.jpg"><img src="img/24.jpg" width="25%" height="25%" ></a>
    <a href="img/25.jpg"><img src="img/25.jpg" width="25%" height="25%" ></a>
    <a href="img/26.jpg"><img src="img/26.jpg" width="25%" height="25%" ></a>
    <a href="img/27.jpg"><img src="img/27.jpg" width="25%" height="25%" ></a>
    <a href="img/28.jpg"><img src="img/28.jpg" width="25%" height="25%" ></a>
    <a href="img/29.jpg"><img src="img/29.jpg" width="25%" height="25%" ></a>
    <a href="img/30.jpg"><img src="img/30.jpg" width="25%" height="25%" ></a>
    <a href="img/31.jpg"><img src="img/31.jpg" width="25%" height="25%" ></a>
    <a href="img/32.jpg"><img src="img/32.jpg" width="25%" height="25%" ></a>
    <a href="img/33.jpg"><img src="img/33.jpg" width="25%" height="25%" ></a>
    <a href="img/34.jpg"><img src="img/34.jpg" width="25%" height="25%" ></a>
    <a href="img/35.jpg"><img src="img/35.jpg" width="25%" height="25%" ></a>
    <a href="img/36.jpg"><img src="img/36.jpg" width="25%" height="25%" ></a>
    <a href="img/37.jpg"><img src="img/37.jpg" width="25%" height="25%" ></a>
    <a href="img/38.jpg"><img src="img/38.jpg" width="25%" height="25%" ></a>
    <a href="img/39.jpg"><img src="img/39.jpg" width="25%" height="25%" ></a>
    
    <a href="img/40.jpg"><img src="img/40.jpg" width="25%" height="25%" ></a>
    <a href="img/41.jpg"><img src="img/41.jpg" width="25%" height="25%" ></a>
    <a href="img/42.jpg"><img src="img/42.jpg" width="25%" height="25%" ></a>
    <a href="img/43.jpg"><img src="img/43.jpg" width="25%" height="25%" ></a>
    <a href="img/44.jpg"><img src="img/44.jpg" width="25%" height="25%" ></a>
    <a href="img/45.jpg"><img src="img/45.jpg" width="25%" height="25%" ></a>
    <a href="img/46.jpg"><img src="img/46.jpg" width="25%" height="25%" ></a>
    <a href="img/47.jpg"><img src="img/47.jpg" width="25%" height="25%" ></a>
    <a href="img/48.jpg"><img src="img/48.jpg" width="25%" height="25%" ></a>
    <a href="img/49.jpg"><img src="img/49.jpg" width="25%" height="25%" ></a>

</center>
