---
layout: page
permalink: /journal/aniversario_cubo
---

<center>
    <h1>Aniversário cubo.network</h1>
    <a href="img/aniversario_cubo_1.jpg"><img src="img/aniversario_cubo_1.jpg" width="50%" height="50%" ></a>    
</center>
