---
layout: page
permalink: /lectures/windows_developer_day
---

<center>
    <h1>Windows Developer Day Unifei - Itajuba</h1>

    <a href="img/14.jpg"><img src="img/14.jpg" width="25%" height="25%" ></a>
    <a href="img/15.jpg"><img src="img/15.jpg" width="25%" height="25%" ></a>
    <a href="img/16.jpg"><img src="img/16.jpg" width="25%" height="25%" ></a>
    <a href="img/17.jpg"><img src="img/17.jpg" width="25%" height="25%" ></a>
    <a href="img/18.jpg"><img src="img/18.jpg" width="25%" height="25%" ></a>
    <a href="img/19.jpg"><img src="img/19.jpg" width="25%" height="25%" ></a>
    <a href="img/20.jpg"><img src="img/20.jpg" width="25%" height="25%" ></a>
    <a href="img/21.jpg"><img src="img/21.jpg" width="25%" height="25%" ></a>
    <a href="img/22.jpg"><img src="img/22.jpg" width="25%" height="25%" ></a>
    <a href="img/23.jpg"><img src="img/23.jpg" width="25%" height="25%" ></a>
    <a href="img/24.jpg"><img src="img/24.jpg" width="25%" height="25%" ></a>
    <a href="img/25.jpg"><img src="img/25.jpg" width="25%" height="25%" ></a>
    <a href="img/26.jpg"><img src="img/26.jpg" width="25%" height="25%" ></a>
    <a href="img/27.jpg"><img src="img/27.jpg" width="25%" height="25%" ></a>
    <a href="img/28.jpg"><img src="img/28.jpg" width="25%" height="25%" ></a>
    <a href="img/29.jpg"><img src="img/29.jpg" width="25%" height="25%" ></a>
    <a href="img/30.jpg"><img src="img/30.jpg" width="25%" height="25%" ></a>
    <a href="img/31.jpg"><img src="img/31.jpg" width="25%" height="25%" ></a>
    <a href="img/32.jpg"><img src="img/32.jpg" width="25%" height="25%" ></a>
    <a href="img/33.jpg"><img src="img/33.jpg" width="25%" height="25%" ></a>
    <a href="img/34.jpg"><img src="img/34.jpg" width="25%" height="25%" ></a>
    <a href="img/35.jpg"><img src="img/35.jpg" width="25%" height="25%" ></a>
    <a href="img/36.jpg"><img src="img/36.jpg" width="25%" height="25%" ></a>
    <a href="img/37.jpg"><img src="img/37.jpg" width="25%" height="25%" ></a>
    <a href="img/38.jpg"><img src="img/38.jpg" width="25%" height="25%" ></a>
    <a href="img/39.jpg"><img src="img/39.jpg" width="25%" height="25%" ></a>
    <a href="img/40.jpg"><img src="img/40.jpg" width="25%" height="25%" ></a>
    <a href="img/41.jpg"><img src="img/41.jpg" width="25%" height="25%" ></a>
    <a href="img/42.jpg"><img src="img/42.jpg" width="25%" height="25%" ></a>
    <a href="img/43.jpg"><img src="img/43.jpg" width="25%" height="25%" ></a>
    <a href="img/44.jpg"><img src="img/44.jpg" width="25%" height="25%" ></a>
    <a href="img/45.jpg"><img src="img/45.jpg" width="25%" height="25%" ></a>
    <a href="img/46.jpg"><img src="img/46.jpg" width="25%" height="25%" ></a>
    <a href="img/47.jpg"><img src="img/47.jpg" width="25%" height="25%" ></a>
    <a href="img/48.jpg"><img src="img/48.jpg" width="25%" height="25%" ></a>
    <a href="img/49.jpg"><img src="img/49.jpg" width="25%" height="25%" ></a>
    <a href="img/50.jpg"><img src="img/50.jpg" width="25%" height="25%" ></a>
    <a href="img/51.jpg"><img src="img/51.jpg" width="25%" height="25%" ></a>
    <a href="img/52.jpg"><img src="img/52.jpg" width="25%" height="25%" ></a>
    <a href="img/53.jpg"><img src="img/53.jpg" width="25%" height="25%" ></a>
    <a href="img/54.jpg"><img src="img/54.jpg" width="25%" height="25%" ></a>
    <a href="img/55.jpg"><img src="img/55.jpg" width="25%" height="25%" ></a>
    <a href="img/56.jpg"><img src="img/56.jpg" width="25%" height="25%" ></a>
    <a href="img/57.jpg"><img src="img/57.jpg" width="25%" height="25%" ></a>
    <a href="img/58.jpg"><img src="img/58.jpg" width="25%" height="25%" ></a>
    <a href="img/59.jpg"><img src="img/59.jpg" width="25%" height="25%" ></a>
    <a href="img/60.jpg"><img src="img/60.jpg" width="25%" height="25%" ></a>
    <a href="img/61.jpg"><img src="img/61.jpg" width="25%" height="25%" ></a>
    <a href="img/62.jpg"><img src="img/62.jpg" width="25%" height="25%" ></a>
    <a href="img/63.jpg"><img src="img/63.jpg" width="25%" height="25%" ></a>
    <a href="img/64.jpg"><img src="img/64.jpg" width="25%" height="25%" ></a>
    <a href="img/65.jpg"><img src="img/65.jpg" width="25%" height="25%" ></a>
    <a href="img/66.jpg"><img src="img/66.jpg" width="25%" height="25%" ></a>
    <a href="img/67.jpg"><img src="img/67.jpg" width="25%" height="25%" ></a>
    <a href="img/68.jpg"><img src="img/68.jpg" width="25%" height="25%" ></a>
    <a href="img/69.jpg"><img src="img/69.jpg" width="25%" height="25%" ></a>
    <a href="img/70.jpg"><img src="img/70.jpg" width="25%" height="25%" ></a>
    <a href="img/71.jpg"><img src="img/71.jpg" width="25%" height="25%" ></a>
    <a href="img/72.jpg"><img src="img/72.jpg" width="25%" height="25%" ></a>
    <a href="img/73.jpg"><img src="img/73.jpg" width="25%" height="25%" ></a>
    <a href="img/74.jpg"><img src="img/74.jpg" width="25%" height="25%" ></a>
    <a href="img/75.jpg"><img src="img/75.jpg" width="25%" height="25%" ></a>
    <a href="img/76.jpg"><img src="img/76.jpg" width="25%" height="25%" ></a>
    <a href="img/77.jpg"><img src="img/77.jpg" width="25%" height="25%" ></a>
    <a href="img/78.jpg"><img src="img/78.jpg" width="25%" height="25%" ></a>
    <a href="img/79.jpg"><img src="img/79.jpg" width="25%" height="25%" ></a>
    <a href="img/80.jpg"><img src="img/80.jpg" width="25%" height="25%" ></a>
    <a href="img/81.jpg"><img src="img/81.jpg" width="25%" height="25%" ></a>
    <a href="img/82.jpg"><img src="img/82.jpg" width="25%" height="25%" ></a>
    <a href="img/83.jpg"><img src="img/83.jpg" width="25%" height="25%" ></a>
    <a href="img/84.jpg"><img src="img/84.jpg" width="25%" height="25%" ></a>
    <a href="img/85.jpg"><img src="img/85.jpg" width="25%" height="25%" ></a>
    <a href="img/86.jpg"><img src="img/86.jpg" width="25%" height="25%" ></a>
    <a href="img/87.jpg"><img src="img/87.jpg" width="25%" height="25%" ></a>
    <a href="img/88.jpg"><img src="img/88.jpg" width="25%" height="25%" ></a>
    <a href="img/89.jpg"><img src="img/89.jpg" width="25%" height="25%" ></a>
    <a href="img/90.jpg"><img src="img/90.jpg" width="25%" height="25%" ></a>
    <a href="img/91.jpg"><img src="img/91.jpg" width="25%" height="25%" ></a>
    <a href="img/92.jpg"><img src="img/92.jpg" width="25%" height="25%" ></a>
    <a href="img/93.jpg"><img src="img/93.jpg" width="25%" height="25%" ></a>
    <a href="img/94.jpg"><img src="img/94.jpg" width="25%" height="25%" ></a>
    <a href="img/95.jpg"><img src="img/95.jpg" width="25%" height="25%" ></a>
    <a href="img/96.jpg"><img src="img/96.jpg" width="25%" height="25%" ></a>
    <a href="img/97.jpg"><img src="img/97.jpg" width="25%" height="25%" ></a>
    <a href="img/98.jpg"><img src="img/98.jpg" width="25%" height="25%" ></a>
    <a href="img/99.jpg"><img src="img/99.jpg" width="25%" height="25%" ></a>
    <a href="img/100.jpg"><img src="img/100.jpg" width="25%" height="25%" ></a>
    <a href="img/101.jpg"><img src="img/101.jpg" width="25%" height="25%" ></a>
    <a href="img/102.jpg"><img src="img/102.jpg" width="25%" height="25%" ></a>
    <a href="img/103.jpg"><img src="img/103.jpg" width="25%" height="25%" ></a>
    <a href="img/104.jpg"><img src="img/104.jpg" width="25%" height="25%" ></a>
    <a href="img/105.jpg"><img src="img/105.jpg" width="25%" height="25%" ></a>
    <a href="img/106.jpg"><img src="img/106.jpg" width="25%" height="25%" ></a>
    <a href="img/107.jpg"><img src="img/107.jpg" width="25%" height="25%" ></a>
    <a href="img/108.jpg"><img src="img/108.jpg" width="25%" height="25%" ></a>
    <a href="img/109.jpg"><img src="img/109.jpg" width="25%" height="25%" ></a>
    <a href="img/110.jpg"><img src="img/110.jpg" width="25%" height="25%" ></a>
    <a href="img/111.jpg"><img src="img/111.jpg" width="25%" height="25%" ></a>
    <a href="img/112.jpg"><img src="img/112.jpg" width="25%" height="25%" ></a>
    <a href="img/113.jpg"><img src="img/113.jpg" width="25%" height="25%" ></a>
    <a href="img/114.jpg"><img src="img/114.jpg" width="25%" height="25%" ></a>
    <a href="img/115.jpg"><img src="img/115.jpg" width="25%" height="25%" ></a>
    <a href="img/116.jpg"><img src="img/116.jpg" width="25%" height="25%" ></a>
    <a href="img/117.jpg"><img src="img/117.jpg" width="25%" height="25%" ></a>
    <a href="img/118.jpg"><img src="img/118.jpg" width="25%" height="25%" ></a>
    <a href="img/119.jpg"><img src="img/119.jpg" width="25%" height="25%" ></a>
    <a href="img/120.jpg"><img src="img/120.jpg" width="25%" height="25%" ></a>
    <a href="img/121.jpg"><img src="img/121.jpg" width="25%" height="25%" ></a>
    <a href="img/123.jpg"><img src="img/123.jpg" width="25%" height="25%" ></a>
    <a href="img/124.jpg"><img src="img/124.jpg" width="25%" height="25%" ></a>
    <a href="img/125.jpg"><img src="img/125.jpg" width="25%" height="25%" ></a>
    <a href="img/126.jpg"><img src="img/126.jpg" width="25%" height="25%" ></a>
    <a href="img/127.jpg"><img src="img/127.jpg" width="25%" height="25%" ></a>
</center>
