---
layout: page
permalink: /journal/confraternizacao_unity
---


<center>
    <h1>Unity - Confraternização de final de ano</h1>
    <a href="img/unity_1.jpg"><img src="img/unity_1.jpg" width="50%" height="50%" ></a>
    <a href="img/unity_2.jpg"><img src="img/unity_2.jpg" width="50%" height="50%" ></a>
    <a href="img/unity_3.jpg"><img src="img/unity_3.jpg" width="50%" height="50%" ></a>
    <a href="img/unity_4.jpg"><img src="img/unity_4.jpg" width="50%" height="50%" ></a>
</center>
