---
layout: page
permalink: /lectures/cecon_nerd
---

<center>
    <h1>Cecon Nerd</h1>

    <a href="img/All Photos - 513 of 2007.jpg"><img src="img/All Photos - 513 of 2007.jpg" width="25%" height="25%" ></a>
    <a href="img/All Photos - 514 of 2007.jpg"><img src="img/All Photos - 514 of 2007.jpg" width="25%" height="25%" ></a>
    <a href="img/All Photos - 515 of 2007.jpg"><img src="img/All Photos - 515 of 2007.jpg" width="25%" height="25%" ></a>
    <a href="img/All Photos - 516 of 2007.jpg"><img src="img/All Photos - 516 of 2007.jpg" width="25%" height="25%" ></a>
    <a href="img/All Photos - 517 of 2007.jpg"><img src="img/All Photos - 517 of 2007.jpg" width="25%" height="25%" ></a>
    <a href="img/All Photos - 518 of 2007.jpg"><img src="img/All Photos - 518 of 2007.jpg" width="25%" height="25%" ></a>
    <a href="img/All Photos - 519 of 2007.jpg"><img src="img/All Photos - 519 of 2007.jpg" width="25%" height="25%" ></a>
    <a href="img/All Photos - 520 of 2007.jpg"><img src="img/All Photos - 520 of 2007.jpg" width="25%" height="25%" ></a>
    <a href="img/All Photos - 521 of 2007.jpg"><img src="img/All Photos - 521 of 2007.jpg" width="25%" height="25%" ></a>
    <a href="img/All Photos - 522 of 2007.jpg"><img src="img/All Photos - 522 of 2007.jpg" width="25%" height="25%" ></a>
    <a href="img/All Photos - 523 of 2007.jpg"><img src="img/All Photos - 523 of 2007.jpg" width="25%" height="25%" ></a>
    <a href="img/All Photos - 524 of 2007.jpg"><img src="img/All Photos - 524 of 2007.jpg" width="25%" height="25%" ></a>
    <a href="img/All Photos - 525 of 2007.jpg"><img src="img/All Photos - 525 of 2007.jpg" width="25%" height="25%" ></a>
    <a href="img/All Photos - 526 of 2007.jpg"><img src="img/All Photos - 526 of 2007.jpg" width="25%" height="25%" ></a>
    <a href="img/All Photos - 527 of 2007.jpg"><img src="img/All Photos - 527 of 2007.jpg" width="25%" height="25%" ></a>
    <a href="img/All Photos - 528 of 2007.jpg"><img src="img/All Photos - 528 of 2007.jpg" width="25%" height="25%" ></a>
    <a href="img/All Photos - 529 of 2007.jpg"><img src="img/All Photos - 529 of 2007.jpg" width="25%" height="25%" ></a>
    <a href="img/All Photos - 530 of 2007.jpg"><img src="img/All Photos - 530 of 2007.jpg" width="25%" height="25%" ></a>
    <a href="img/All Photos - 531 of 2007.jpg"><img src="img/All Photos - 531 of 2007.jpg" width="25%" height="25%" ></a>
    <a href="img/All Photos - 532 of 2007.jpg"><img src="img/All Photos - 532 of 2007.jpg" width="25%" height="25%" ></a>
    <a href="img/All Photos - 533 of 2007.jpg"><img src="img/All Photos - 533 of 2007.jpg" width="25%" height="25%" ></a>
    <a href="img/All Photos - 534 of 2007.jpg"><img src="img/All Photos - 534 of 2007.jpg" width="25%" height="25%" ></a>
    <a href="img/All Photos - 535 of 2007.jpg"><img src="img/All Photos - 535 of 2007.jpg" width="25%" height="25%" ></a>
    <a href="img/All Photos - 536 of 2007.jpg"><img src="img/All Photos - 536 of 2007.jpg" width="25%" height="25%" ></a>
    <a href="img/All Photos - 537 of 2007.jpg"><img src="img/All Photos - 537 of 2007.jpg" width="25%" height="25%" ></a>
    <a href="img/All Photos - 538 of 2007.jpg"><img src="img/All Photos - 538 of 2007.jpg" width="25%" height="25%" ></a>
    <a href="img/All Photos - 539 of 2007.jpg"><img src="img/All Photos - 539 of 2007.jpg" width="25%" height="25%" ></a>
    <a href="img/All Photos - 540 of 2007.jpg"><img src="img/All Photos - 540 of 2007.jpg" width="25%" height="25%" ></a>
    <a href="img/All Photos - 541 of 2007.jpg"><img src="img/All Photos - 541 of 2007.jpg" width="25%" height="25%" ></a>
    <a href="img/All Photos - 542 of 2007.jpg"><img src="img/All Photos - 542 of 2007.jpg" width="25%" height="25%" ></a>
    <a href="img/All Photos - 543 of 2007.jpg"><img src="img/All Photos - 543 of 2007.jpg" width="25%" height="25%" ></a>
    <a href="img/All Photos - 544 of 2007.jpg"><img src="img/All Photos - 544 of 2007.jpg" width="25%" height="25%" ></a>
    <a href="img/All Photos - 545 of 2007.jpg"><img src="img/All Photos - 545 of 2007.jpg" width="25%" height="25%" ></a>
    <a href="img/All Photos - 546 of 2007.jpg"><img src="img/All Photos - 546 of 2007.jpg" width="25%" height="25%" ></a>
    <a href="img/All Photos - 547 of 2007.jpg"><img src="img/All Photos - 547 of 2007.jpg" width="25%" height="25%" ></a>
</center>
