---
layout: page
permalink: /journal/cubo_bilingue
---


<center>
    <h1>2º Happy Hour in English / CUBO Bilíngue</h1>
    <a href="img/cubo_bilingue_1.jpg"><img src="img/cubo_bilingue_1.jpg" width="50%" height="50%" ></a>

</center>
