---
layout: page
permalink: /lectures/app_day
---

<center>
    <h1>App Day</h1>

    <a href="img/All Photos - 890 of 2007.jpg"><img src="img/All Photos - 890 of 2007.jpg" width="25%" height="25%" ></a>
    <a href="img/All Photos - 891 of 2007.jpg"><img src="img/All Photos - 891 of 2007.jpg" width="25%" height="25%" ></a>
    <a href="img/All Photos - 892 of 2007.jpg"><img src="img/All Photos - 892 of 2007.jpg" width="25%" height="25%" ></a>
    <a href="img/All Photos - 893 of 2007.jpg"><img src="img/All Photos - 893 of 2007.jpg" width="25%" height="25%" ></a>

</center>
