---
layout: page
permalink: /lectures/windows_developer_day
---

<center>
    <h1>Microsoft Innovation Center - MicBH</h1>

    <a href="img/18 de novembro de 2011 1.jpg"><img src="img/18 de novembro de 2011 1.jpg" width="25%" height="25%" ></a>
    <a href="img/18 de novembro de 2011 2.jpg"><img src="img/18 de novembro de 2011 2.jpg" width="25%" height="25%" ></a>
    <a href="img/2011-11-19.jpg">              <img src="img/2011-11-19.jpg"               width="25%" height="25%" ></a>
</center>
