---
layout: page
permalink: /journal/lunch_with_steve
---


<center>
    <h1>Lunch with Steve from Versus Evil and Firehorse team</h1>
    <a href="img/flying_sushi.jpg"><img src="img/flying_sushi.jpg" width="50%" height="50%" ></a>

</center>
